html, body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    width: 100%;
    overflow-x:hidden;
}

header {
    background: #1f1f1f;
    padding: 10px;
}

.search-container input[type="search"] {
    width: 100%;
    padding: 10px;
    background: #333;
    border: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #222;
    padding: 10px 0;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

main {
    width: 100%;
}

.recommendations{
    height: 900px;
    background-color:rgb(28, 24, 24);
    width: 100%;
    background-image: none;
}
.recommendations h2 {
    margin-bottom: 40px;
}

.panel_title{
    color: rgb(241, 244, 242);
    margin-left: 20px;
    
}

.line, .line_first {
    width: 100%;
    height: 8px;
    position: relative;
    display: inline-block;
    background-color: white;
  }
.card-container {
    display: flex;
    overflow-x: auto; /* 启用水平滚动 */
    gap: 20px; /* 卡片之间的间距 */
    padding: 20px; /* 容器内侧距 */
}

.card {
    flex: 0 0 auto; /* 卡片不伸缩，保持原始宽度 */
    background: #1a1a1a;
    padding: 15px;
    width: 250px; /* 根据需要调整卡片的宽度 */
    border-radius: 10px;
    margin-right: 10px; /* 卡片之间的右侧间距 */
}

.image-placeholder {
    width: 100%;
    height: 100px;
    background: #333;
    margin-bottom: 10px;
}

.card-image {
    width: 100%; /* Ensures the image is as wide as the card */
    height: 250px; /* Fixes the height of the image */
    border-radius: 10px; /* Rounds the corners of the image */
    object-fit: cover; /* Covers the area without stretching the image, cropping if necessary */
}

footer {
    background: #1f1f1f;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #666;
}

.card p {
    display: none;
}
/* 模态框样式 */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  #modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(46, 34, 34, 0.87);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
  }

  #modal-title {
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }

  #modal-artist{
    text-align: center;
  }
  
  #modal-description {
    text-align: center;
  }

  button {
    background: transparent;
    color: #888;
    /* 灰色字体 */
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* 半透明边框 */
    border-radius: 5px;
    /* 圆角边框 */
    font-size: 1em;
    padding: 10px 20px;
    /* 调整按钮内边距 */
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    /* 添加过渡效果 */
}

button:hover {
    color: #fff;
    /* 悬停时更改字体颜色 */
    border-color: rgba(255, 255, 255, 0.8);
    /* 悬停时更改边框颜色 */
}

#backButton_1 {
    position: absolute;
    right: 5%;
    bottom: 10%;
}