body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
}

header {
    background: #1f1f1f;
    padding: 10px;
}

h1 {
    font-size: 50px; /* 替换为你希望的大小值 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #222;
    padding: 10px 0;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

main {
    padding: 20px ;
    width: 100%;
}

footer {
    background: #1f1f1f;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #666;
}

.card p {
    display: none;
}
/* 模态框样式 */
#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(46, 34, 34, 0.87);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

#modal-title {
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#modal-artist{
    text-align: center;
}

#modal-description {
    text-align: center;
}

.container {
    height: 100%;
    background-image: url("../asset/index/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* 为了让 absolute 定位相对于这个容器 */
    transition: transform 2s ease; /* 添加过渡效果，调整时间和缓动函数以满足你的需求 */
    transform-origin: center;
    transform: scale(0.5); /* 初始化时将图片缩小到0倍 */
}

.container.loaded {
    transform: scale(1); /* 加载完成后将图片缩放到正常大小 */
}

.content {
    text-align: left;
    color: #fff; /* 文字颜色，可以根据你的图片调整 */
    position: absolute;
    top: 10%; /* 25% 是相对于容器高度的上1/4位置 */
    left: 10%; /* 25% 是相对于容器宽度的左1/4位置 */
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 18px;
    line-height: 27px;
    font-family: 'IBM Plex Sans', sans-serif;
}

button {
    background: transparent;
    color: #888; /* 灰色字体 */
    border: 2px solid rgba(255, 255, 255, 0.5); /* 半透明边框 */
    border-radius: 5px; /* 圆角边框 */
    font-size: 1em;
    padding: 10px 20px; /* 调整按钮内边距 */
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s; /* 添加过渡效果 */
}

button:hover {
    color: #fff; /* 悬停时更改字体颜色 */
    border-color: rgba(255, 255, 255, 0.8); /* 悬停时更改边框颜色 */
}

#nextButton {
    margin-top: auto; /* 将按钮推到容器的底部 */
    margin-bottom: 100px; /* 与页面底部保持一些间隔 */
}