body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
}

.body {
    overflow-x: hidden;
    width: 100%;
}

header {
    background: #1f1f1f;
    padding: 10px;
}

h1 {
    font-size: 50px;
    /* 替换为你希望的大小值 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: #222;
    padding: 10px 0;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #aaa;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: white;
}

main {
    padding: 20px;
    width: 100%;
}

footer {
    background: #1f1f1f;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    color: #666;
}


.container {
    height: 100%;
    width: 100%;
    background-image: url("../asset/index/cover.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.white-bg {
    background-color: white !important;
}

.image-bg {
    background-image: url("../asset/index/cover.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    transform: scale(0.5);
}

.container.loaded {
    transform: scale(1);
    /* 加载完成后将图片缩放到正常大小 */
}

.content {
    text-align: left;
    color: #fff;
    /* 文字颜色，可以根据你的图片调整 */
    position: absolute;
    top: 10%;
    /* 25% 是相对于容器高度的上1/4位置 */
    left: 10%;
    /* 25% 是相对于容器宽度的左1/4位置 */
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 18px;
    line-height: 27px;
    font-family: 'IBM Plex Sans', sans-serif;
}

button {
    background: transparent;
    color: #888;
    /* 灰色字体 */
    border: 2px solid rgba(255, 255, 255, 0.5);
    /* 半透明边框 */
    border-radius: 5px;
    /* 圆角边框 */
    font-size: 1em;
    padding: 10px 20px;
    /* 调整按钮内边距 */
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s;
    /* 添加过渡效果 */
}

button:hover {
    color: #fff;
    /* 悬停时更改字体颜色 */
    border-color: rgba(255, 255, 255, 0.8);
    /* 悬停时更改边框颜色 */
}

#backButton {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
    width: 100%;
    height: 100%;
}

.afterImage img {
    transform: translate(-100%, 0px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.text_enjoy {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
}

.small {
    font: bold 13px serif;
    fill: black;
}

.heavy {
    font: bold 30px sans-serif;
    fill: white;
}

.Rrrrr {
    font: italic 40px serif;
    fill: rgb(117, 238, 25);
}

.text_word {
    font: italic 40px serif;
}

.image-container {
    position: absolute;
    overflow: hidden;
    width: 250px;
    /* 请替换为您希望的固定宽度 */
    height: 300px;
    /* 请替换为您希望的固定高度 */
    border: 2px solid #ccc;
    /* 设置容器的边框 */
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    text-align: left;
    position: absolute;
}

.text-container p {
    font-family: 'Dancing Script', cursive;
    color: #ccc;
    font-size: 24px;
    line-height: 27px;
}

.left_top {
    top: 10%;
    left: 15%;
}

.right_bottom {
    top: 55%;
    left: 55%;
}

.left_bottom {
    top: 55%;
    left: 20%;
}

.right_top {
    top: 10%;
    left: 50%;
}

.arrow {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    margin-top: auto;
}

/* 叠加块 */

.slider.left_top {
    position: absolute;
    width: 250px;
    height: 250px;
    perspective: 100px;
    cursor: pointer;
    top: 20%;
    left: 15%;
}

.slider.right_bottom {
    position: absolute;
    width: 250px;
    height: 250px;
    perspective: 100px;
    cursor: pointer;
    top: 60%;
    left: 62%;
}

.left_item,
.right_item {
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: blue;
    /* // transition: all 0.6s ease; // ⚠️ Never use 'all' and try to not use transtion when working with GSAP  */
}

.left_item:nth-child(5) {
    left: 0px;
    top: 0;
}

.left_item:nth-child(4) {
    left: 20px;
    top: -20px;
}

.left_item:nth-child(3) {
    left: 40px;
    top: -40px;
}

.left_item:nth-child(2) {
    left: 60px;
    top: -60px;
}

.left_item:nth-child(1) {
    left: 80px;
    top: -80px;
}



.right_item:nth-child(5) {
    left: 0px;
    top: 0;
}

.right_item:nth-child(4) {
    left: 20px;
    top: -20px;
}

.right_item:nth-child(3) {
    left: 40px;
    top: -40px;
}

.right_item:nth-child(2) {
    left: 60px;
    top: -60px;
}

.right_item:nth-child(1) {
    left: 80px;
    top: -80px;
}