
body {
  width: 100%;
  height: 100%;
}

nav{
  width: 100%;
  z-index: 5;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background: black;
  padding: 10px 0;
  font-size: 16px;
 
}

nav ul li {
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background: #1D1F20;
  color: white;
  font-size: 14px;
  font-family: Lato, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.singer_container{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  top:0;
  box-sizing: border-box;
}

.person_info{
  width: 250px;
  margin-top: 100px;
  margin-left: 150px;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.person_card{
  display: flex;
}

.buttonPart_next ,
.buttonPart_prev{
  width: 40px;
  height: 100%;
  display: flex; 
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  flex-direction: column;  /* 把元素垂直排列 */
  position: absolute;
  z-index: 2;
}

.button_next, .button_prev{
  background-color: #1D1F20;
  font-size: 25;
  color: white;
  border: none;
  height: auto;
}
.buttonPart_prev{
  left: 20px;
}
.buttonPart_next{
  right: 8px;
  margin-left: 20px;
}
.person_name{
  font-size: 25;
  text-align: center;
}

img {
    width: 100%;  
    background-size: cover;
    height: 220px;
}

#overlay {
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}

.app {
  height: 90%;
  width: 1000px;
  background: rgb(32, 36, 31);
  position: relative;
  overflow: auto;
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 80px;
  /* Hide the app on load */
  visibility: hidden;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2% 3.6%;
  padding: 10px;
}

.item {
  cursor: pointer;
  font-size: 0;
}

.detail {
  position: fixed;
  top: 10px;
  left: 50%;
  width: 90.1vmin;
  cursor: pointer;
  font-size: 0;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  max-height: 100%;
  overflow: auto;
}

.detail > img {
  position: relative;
  z-index: 1;
}

.detail .content {
  background: #232323;
  padding: 2rem 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
}

.detail .content > * {
  margin-bottom: 1rem;
}

.detail .title {
  font-size: 2rem;
  text-transform: uppercase;
}

.detail .secondary {
  color: lightgray;
}

.detail .description {
  line-height: 1.5;
}

footer {
  background: #1f1f1f;
  text-align: center;
  padding: 10px;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  color: #666;
}